<h1>DocTico</h1>

<h1 class="form-signin-heading">DocTico</h1>
<p>DocTico, la Aplicacion que te permite encontrar los centros de salud mas cercanos a tu poscision actual</p>

<%= link_to 'Iniciar Sesion', signin_path %>

<%= link_to 'Crear una Cuenta', signup_path %>

<% if !current_user.nil? %>
  <%= link_to 'Mi Perfil', usuario_path(current_user) %>
<% end %>