<h1>DocTico</h1>
<p>DocTico, la Aplicacion que te permite encontrar los centros de salud mas cercanos a mi poscision</p>

<%= link_to 'Iniciar Sesion', signin_path %>

<%= link_to 'Crear Cuenta', signup_path %>
