<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><%= link_to 'DocTico', root_path %></li>
        </ul>
    </div>
</nav>

<div class="panel panel-success">

          <div class="panel-heading">
            <h3 class="panel-title"><center> Crear una cuenta en <%= link_to 'DocTico', root_path %> </center> </h3>
          </div>
				
          <div class="panel-body">
				
            <div align="center" style="height: 495px; overflow: auto;">

              <%= render 'form' %>

              <p>
              <%= link_to 'Ir a DocTico.com', root_path %>
              </p>
            </div>
         </div>
</div>